<!DOCTYPE html>
<html>
  <%- include('./partials/header') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <div class="content">
        <h1><%= title %></h1>

        <form action="" method="post">
          <div class="input-group">
            <label for="book">Book:</label>
            <select name="book" id="book" required>
              <option value="">--Select a book--</option>
              <% book_list.forEach(book => { %> <% if (selected_book &&
              selected_book.toString() === book._id.toString()) { %>
              <option value="<%= book._id %>" selected>
                <%= book.title %>
              </option>
              <% } %>
              <option value="<%= book._id %>"><%= book.title %></option>
              <% }) %>
            </select>
          </div>

          <div class="input-group">
            <label for="imprint">Imprint:</label>
            <input
              type="text"
              name="imprint"
              id="imprint"
              required
              value="<%= bookInstance? bookInstance.imprint : '' %>"
            />
          </div>

          <div class="input-group">
            <label for="due_back">Date when book available:</label>
            <input
              type="date"
              name="due_back"
              id="due_back"
              value="<%= bookInstance? bookInstance.due_back_yyyy_mm_dd : '' %>"
            />
          </div>

          <div class="input-group">
            <label for="status">Status</label>
            <select name="status" id="status" required>
              <option value="">--Select status--</option>
              <% ['Maintenance', 'Available', 'Loaned',
              'Reserved'].forEach(status => { %> <% if (bookInstance ===
              undefined || bookInstance?.status != status) { %>
              <option value="<%= status %>"><%= status %></option>
              <% } else { %>
              <option value="<%= status %>" selected><%= status %></option>
              <% } %> <% }) %>
            </select>
          </div>

          <button type="submit">Submit</button>
        </form>

        <% if (errors?.length) { %>
        <h3 id="error-heading">Error: Invalid form data!</h3>
        <ul id="errors">
          <% errors.forEach(err => { %>
          <li><%= err.msg %></li>
          <% }) %>
        </ul>
        <% } %>
      </div>
      <%- include('./partials/footer') %>
    </main>
  </body>
</html>
