<!DOCTYPE html>
<html>
  <%- include('./partials/header') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <div class="content">
        <h1 class=""><%= title %></h1>
        <% if (genre_books.length) { %>
        <ul>
          <% genre_books.forEach(book => { %>
          <li>
            <a class="text-success" href="<%= book.url %>"><%= book.title %></a>
            <p><%= book.summary %></p>
          </li>
          <% }) %>
        </ul>
        <%} else { %>
        <p>There are no books.</p>
        <% } %>
        <div class="cta">
          <a class="button del" href="<%= genre.url %>/delete">Delete Genre</a>
          <a class="button update" href="<%= genre.url %>/update"
            >Update Genre</a
          >
        </div>
      </div>
      <%- include('./partials/footer') %>
    </main>
  </body>
</html>
