<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% messages.map((message) => {%>
    <p>
      <span><%= message.user %></span>: <%= message.text %> at <%= message.date
      %>
    </p>
    <% })%>
  </body>
</html>
