<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <header><h1><%= title %></h1></header>
    <main>
      <section class="content">
        <div class="content-head">
          <p>We have <%= messageCount %> messages! 🥳</p>
          <p>
            Post messages to this board to motivate and inspire people who're
            learning programming! <span>Let's make this a happy place :)</span>
          </p>
        </div>
        <a class="btn" href="/new">New Post</a>
      </section>
      <section class="message-board">
        <% messages.map((message) => {%>
        <div class="card">
          <p class="card-content"><%= message.content %></p>
          <div class="card-details">
            <p class="card-title"><%= message.username %></p>
            <p class="card-date">
              <%= formatRelative(new Date(`${message?.createdAt}`),new Date())
              %>
            </p>
          </div>
        </div>
        <% })%>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
